@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(97, 255, 202);
  /*color: rgb(142, 208, 8); */
}

body {
  background-color: rgb(25, 25, 25);
}

h1 {
  margin-top: 100px;
  margin-bottom: 25px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

main div > #txtInput {
  margin-bottom: 10px;
}

textarea {
  background-color: rgb(60, 60, 60);
  border-radius: 5px;
  width: 50%;
  height: 200px;
  border: solid 2px;
}

button {
  background-color: rgb(60, 60, 60);
  padding: 5px;
  width: 150px;
  border-radius: 10px;
  margin-top: 5px;
}

button:hover {
  color: black;
  background-color: rgb(97, 255, 202);
  transition: background-color 0.5s ease, color 0.5s ease;
}
